@media screen and (max-width: 500px) {
  header li a {
    display: none;
  }
}

@media screen and (max-width: 501px) {
  header li a {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header li a {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header li a {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  header li a {
    display: none;
  }
}
