<!DOCTYPE html >
<html>
  <head>
    <title> </title>
  </head>
  <body> 
    <header> 
      <div> <a href="/home">Ryan J Gregoire</a></div>
      <nav> 
        <ul> 
          <li> <a href="/home">Home</a><a href="/About">About</a><a href="/Projects">Projects</a><a href="/Contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 id="text">Welcome to Home Page </h1>
      <p id="yearsCoding">Coding for | Current Years </p>
      <button type="button" id="button">Find Out</button>
    </main>
    <footer> 
      <p class="element">Ryan James | &copy; 2026</p>
    </footer>
  </body>
  <script src="./static/js/main.js"></script>
</html>