doctype html 
html
    head
        link(rel="stylesheet" href="./static/css/header.css")
        link(rel="stylesheet" href="./static/css/main.css")
        title Ryan J Gregoire | Home Page
    body 

        header 
            div 
                a(href="/home") Ryan J Gregoire
            nav 
                ul 
                    li 
                        a(href="/home") Home
                        a(href="/About") About
                        a(href="/Projects") Projects
                        a(href="/Contact") Contact
                    
        main
            h1(id="text") Welcome to Home Page 
            p(id="yearsCoding") Coding for | Current Years 

            button(type="button" id="button") Find Out
        
        footer 
            p(class="element") Ryan James | &copy; 2026

    script(src="./static/js/main.js")